SECRET_KEY=$SECRET_KEY
DATABASE_NAME=$DATABASE_NAME
DATABASE_USER=$DATABASE_USER
DATABASE_PASS='AVNS_Nhupv_jtHL4DzCW'
DJANGO_SUPERUSER_PASSWORD=$DJANGO_SUPERUSER_PASSWORD
DATABASE_HOST=db-postgresql-venture-do-user-10969953-0.b.db.ondigitalocean.com
